:root {
    --txt: #FFFFFF;
    --txt2: #CCCCCC;
    --bg: #44474E;
    --bg-dark: #33373E;
    --bg-light: #55575E;
    --border: 1px solid #111;
    --border2: 2px solid #111;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #555;
}

h1, h2 {
    color: var(--txt);
}

#grille {
    display: grid;
    grid-template-rows: 1fr 2fr 4fr 3fr;
    height: 95vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #55575E;
    margin: 0%;
    width: 100%;
}

table {
    background-color: #44474E;
    color: #FFFFFF;
}

.content {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    
}

.butin {
    background-color: rgb(53, 53, 58);
}

.compte {
    background-color: #44474E;
}

#reglage {
    width: 80%;
}

h1 {
    width: 50%;
}

h2 {
    display: flex;
    justify-content: space-between;
}

.niveau::after {
    display: inline-block;
    content: '⚡';
}

.monnaie::after {
    display: inline-block;
    content: '💰'
}

section {
    display: flex;
    justify-content: space-between;
    color: var(--bg-dark);
    border: solid 1px black;
    padding-bottom: 10px;
}

img {
    width: 120px;
}

progress {
    width: 300px;
    height: 20px;
    display: inline-block;
    border: 0;
    appearance: progress-bar;
    background-color: green;
}

progress::-webkit-progress-bar {
    background-color: green;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: greenyellow;
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background-color: greenyellow;
    border-radius: 5px;
}

progress::-moz-progress-value {
    border-radius: 5px;
}

#border {
    border: solid 1px black;
    background-color: #55575E;
}

.one {
    background-color:  var(--bg-dark);
    border: solid 1px black;
    color: var(--txt);
}

button{

    background-color:  var(--bg-dark);
    color: white;
}