:root {
    --txt: #FFFFFF;
    --txt2: #CCCCCC;
    --bg: #44474E;
    --bg-dark: #33373E;
    --bg-light: #55575E;
    --border: 1px solid #111;
    --border2: 2px solid #111;
}

* {
    box-sizing: border-box;
}

body{

    margin: 0;
    padding: 0;
    background-color:#555;
}
h1,h2{

    color: #FFFFFF;
}
#grille{
    display: grid;

       color: #FFFFFF

}
header{
    display: flex;
    justify-content: space-between;
background-color: #55575E;
}
table{

    background-color: #44474E;
}

#boulangerie{

    display: flex;
    justify-content: space-between;

}
table{

    color: #FFFFFF
}

.content{

    border: 1px solid black;
    padding: 150px;
}