:root {
    --txt: #FFFFFF;
    --txt2: #CCCCCC;
    --bg: #44474E;
    --bg-dark: #33373E;
    --bg-light: #55575E;
    --border: 1px solid #111;
    --border2: 2px solid #111;
}

* {
    box-sizing: border-box;
}

body{

    margin: 0;
    padding: 0;
    background-color:#555;
}
h1,h2{

    color:var(--txt);
} 
#grille{
    display: grid;
    grid-template-rows: 1fr 2fr 4fr 3fr  ;
    height: 95vh;


}
header{
    display: flex;
    justify-content: space-between;
background-color: #55575E;
margin: 0%;
width: 100%;
}
table{

    background-color: #44474E;
    color: #FFFFFF;
}
.content{
 display: flex;
 justify-content: space-between;

    border: 1px solid black;

   margin-left: 5px;
   margin-right: 5px;
}


.butin{

    background-color: rgb(53, 53, 58);
}


.compte{

    background-color:#44474E ;
}
#reglage
{
width: 80%;

}

h1{

    width: 50%;

}
h2{
    display: flex;
    justify-content: space-between;

}
.niveau::after{

content: icon'⚡';

}





#boulangerie{


}
section{

    display: flex;
    justify-content: space-between;

   color:var(--bg-dark);
}
img{

    width: 120px; 
}